* {
  box-sizing: border-box;
}

html{
  font-size: 18px;
  letter-spacing: .02rem;
}



/*starts here*/

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#top{
  align-items: baseline;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  min-height: 80px;
  background-color: rgb(70,136,242);
  top: 0px;
  font-size: 1.25rem;
  color: white;
}

header h1{
  padding-right: 75px;

}

nav {
  text-align: right;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
 font-size: 1.25rem;
  color: white;
  font-family: georgia, sans-serif;
}

nav a:link { color: #ffffff; }
nav a:visited { color: #eaeaea; }
nav a:hover { color: #000066; } 

main{
  position: absolute;
  width: 100%;
  top: 150px;
}



h1{
  font-size: 3rem;
  font-family: georgia, sans-serif;
  color: white;
  text-align: left;
}

h2{
  font-size: 1.5rem;
  font-family: georgia, sans-serif;
  color: rgb(29,176,109);
}


#aboutmetext{
padding-top: 0px;
margin-top: 0px;
}
#aboutmetext h2 {
padding-top: 0px;
margin-top: 0px;
}

.aboutme{
  display: flex;
  min-height: 400px;
  padding: 100px 15% 100px 15%;
}

.aboutme img {
  width: 400px;
}

.aboutme span {
  text-align: left;
  padding-right: 50px;
}


#websitecontainer{
  background-color: rgba(70, 136, 242, .28);
min-height: 450px;
padding-top: 20px;
}

#websitecontainer h2 {
 text-align: center;
 padding-bottom: 0px;
}

#websitecontainer span {
  display: block; /* fixes the problem of padding only working on first line of text*/
 text-align: center;
 padding-left: 30px;
 padding-right: 30px;
  line-height: 1.5rem;
  font-family: cabin, sans-serif;
}

#websites{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-content: center;
align-items: flex-start;
padding-bottom: 30px;
}




.github {
  max-width: 400px;
  justify-content: flex-start;
  margin: 20px;

}

.github img {
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: rgb(29,176,109);
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.github h3{
  font-size: 1.25rem;
  color: rgb(70,136,242);
  margin-top: 10px;
  margin-bottom: 0px;
}

.github p{
  margin-top: 10px;
 padding-right: 10px
}


.skillset{
  display: flex;
  min-height: 350px;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}


.skillset img {
  width: 400px;
  align-self: flex-start;
}

.skillset li {
  line-height: 1.5rem;
  font-family: cabin, sans-serif;
}

#skillsettext{
align-self: flex-start;
margin-left: 40px;
margin-right: 0px; 
}



#cvcontainer {
background-color: rgba(70, 136, 242, .28);
min-height: 450px;
padding-top: 20px;
padding-bottom: 20px;
width: 100%;
}


#cv{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-content: center;
align-items: flex-start;
padding-bottom: 30px;
}


#cv img {
  height: 275px;
  border-style: solid;
  border-color: rgb(29,176,109);
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 0px;

}

img:hover {
  animation: shake 0.75s;
  animation-iteration-count: 1;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(-4px, 0, 0);
  }
}

#cvtext{
text-align: center; 
}


p{
  font-family: cabin, sans-serif;
}


footer{
  text-align: center;
  width: 100%;
  background-color: rgb(70,136,242);
  padding: auto;
  color: white;
  display: inline;
  margin-top: 50px;
}

#contact p{
   line-height: 1.5;
   letter-spacing: 0.05rem;
}












/*colours*/

.greentext{
	color: rgb(29,176,109);
}
.lgreentext{
	color: rgba(29, 176, 109, .28);
}

.yellowtext{
	color: rgb(253, 212, 50);
}

.redtext{
	color: rgb(238, 6, 10);
}

.bluetext{
	color: rgb(66, 135, 245);
}


/* Responsive layout - when the screen is less than 1200px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
.aboutme{
   padding: 100px 5% 100px 5%;
}

#skillsettext{
margin-left: 20px;
}

#cvtext{
padding-left: 15px;
padding-right: 15px; 
}

}


/* Responsive layout - when the screen is less than 900px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
.aboutme{
    flex-direction: column;
    text-align: center;
  }
.aboutme img {
  margin-top: 20px
}

.github h3{
  text-align: center;
}

.github p{
text-align: center;
}


}




/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .aboutme{
    flex-direction: column;
    text-align: center;
  }
  
  .aboutme img {
  margin-top: 20px
  }

  .skillset{
  flex-direction: column;
  text-align: center;
  }

  .skillset img{
  margin-bottom: 20px;
  }

.github h3{
  text-align: center;
}

.github p{
text-align: center;
}

header h1{
  text-align: center;
  padding: 0px;
}

nav span{
  padding-top: 0px;
  padding-bottom: 10px;
}

nav {
  text-align: center;
}

} 